MONGO_URI = <YOUR_MONGO_URI>
PORT = <YOUR_PORT>
JWT_SECRET = <YOUR_JWT_SECRET>
NODE_ENV = <YOUR_NODE_ENV> #development or production
FRONTEND_URL = <YOUR_FRONTEND_URL>

# Local Redis configuration
# REDIS_HOST = 127.0.0.1
# REDIS_PORT = 6379
# REDIS_TLS = false

# Cloud Redis configuration
# REDIS_HOST = <YOUR_REDIS_HOST>
# REDIS_PORT = <YOUR_REDIS_PORT>
# REDIS_USERNAME = default
# REDIS_PASSWORD = <YOUR_REDIS_PASSWORD>
# REDIS_TLS = true