MONGO_URI = <YOUR_MONGO_URI>
PORT = <YOUR_PORT>
BACKEND_URL = <YOUR_BACKEND_URL>
JWT_SECRET = <YOUR_JWT_SECRET>
NODE_ENV = <YOUR_NODE_ENV> #development or production
FRONTEND_URL = <YOUR_FRONTEND_URL>